*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    position: relative;
    font-family: 'Bowlby One SC', cursive;
}

.imgPrincipal{
    width: 100%;
    height: 70vh;
}

.imgPrincipal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -160px;
}
.titulo{
    position: absolute;
    color: azure;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 85px;
    text-shadow: 0px 0px 2px #000;
}

.entrada{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: justify;
    background: #012b50;
    color: white;
}

.contenedor_tarjetas {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    max-width: 20em;
    margin: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:#FFF;
    box-shadow: 0 6px 16px #999;
    font-size: 15px;
}

.tarjeta .foto{
    max-height: 20em;
    height: 40vh;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    filter: grayscale(100%);
}

.tarjeta .fotos img {
    object-fit: cover;
}

.nombre {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
    padding-top: 5px;
    font-size: 12px;
}

.info{
    margin: 10px;
    height: 40vh;
    padding: 5px;
    text-align: justify;
}

.banda {
    background: #012b50;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

@media(max-width:353px){
     body{
        background-image: image(url(..images/gunsNroses.jpg));
     }
    .imgPrincipal {
        width: 100%;
        height: 70vh;

    }

    .header p{
        font-size: 50px;
        margin-top: -40px;
    }
    .contenedor_tarjetas {
        padding: 10px;
        /* display: flex; */
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}